In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
team_ratings = pd.read_csv("data/team_ratings_history.csv")

In [4]:
team_ratings

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
0,0,None,Arsenal,ENG,1,1551.140259,1946-07-07,1946-08-31
1,1,None,Arsenal,ENG,1,1539.570068,1946-09-01,1946-09-04
2,2,None,Arsenal,ENG,1,1525.449463,1946-09-05,1946-09-07
3,3,None,Arsenal,ENG,1,1523.855591,1946-09-08,1946-09-11
4,4,None,Arsenal,ENG,1,1518.939331,1946-09-12,1946-09-14
...,...,...,...,...,...,...,...,...
129334,4927,85,Sheffield United,ENG,1,1637.473755,2023-08-15,2023-08-15
129335,4928,86,Sheffield United,ENG,1,1637.473755,2023-08-16,2023-08-18
129336,4929,86,Sheffield United,ENG,1,1637.473755,2023-08-19,2023-08-27
129337,4930,86,Sheffield United,ENG,1,1637.473755,2023-08-28,2023-08-28
129338,4931,86,Sheffield United,ENG,1,1637.473755,2023-08-29,2023-12-31

In [5]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [6]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    if team_name == "Norwich City":
        return "Norwich"
    if team_name == "Luton Town":
        return "Luton"
    if team_name == "Sheffield Utd":
        return 'Sheffield United'
    return team_name

In [7]:
# choose correct dataset!
df = pd.read_csv("data/upcoming_fixtures.csv")

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (71) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
df.head(20)

,Unnamed: 0,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,...,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,Finished,Date,Price
0,0,0.0,0.000000,0.00,7.0,7.000000,7.000000,0.0,0.000000,0.000000,...,0.0,0.10,0.100000,0.100000,0.10,0.100000,0.100000,True,NaN,NaN
1,1,0.0,0.000000,0.00,7.0,7.000000,7.000000,0.0,0.000000,0.000000,...,1.0,0.10,0.100000,0.100000,0.10,0.100000,0.100000,True,NaN,NaN
2,2,0.0,0.000000,0.00,4.5,4.500000,4.500000,0.0,0.000000,0.000000,...,1.0,0.05,0.050000,0.050000,0.10,0.100000,0.100000,True,NaN,NaN
3,3,0.0,0.000000,0.00,3.0,4.333333,4.333333,0.5,0.333333,0.333333,...,0.0,0.05,0.066667,0.066667,0.05,0.066667,0.066667,True,NaN,NaN
4,4,0.0,0.000000,0.00,5.0,4.750000,4.750000,1.5,0.750000,0.750000,...,1.0,0.10,0.075000,0.075000,0.05,0.075000,0.075000,True,NaN,NaN
5,5,0.0,0.000000,0.00,3.5,4.000000,3.250000,1.0,0.600000,0.750000,...,0.0,0.15,0.100000,0.100000,0.05,0.060000,0.050000,True,NaN,NaN
6,6,0.0,0.000000,0.00,1.5,3.666667,3.250000,0.0,0.500000,0.750000,...,1.0,0.15,0.100000,0.125000,0.05,0.066667,0.050000,True,NaN,NaN
7,7,0.0,0.000000,0.00,1.5,3.285714,2.500000,0.0,0.428571,0.500000,...,0.0,0.15,0.114286,0.150000,0.05,0.057143,0.050000,True,NaN,NaN
8,8,0.0,0.000000,0.00,3.5,3.625000,2.500000,0.5,0.500000,0.250000,...,1.0,0.10,0.100000,0.125000,0.00,0.050000,0.025000,True,NaN,NaN
9,9,0.5,0.111111,0.25,7.5,4.222222,4.500000,2.0,0.777778,1.000000,...,0.0,0.15,0.122222,0.150000,0.00,0.044444,0.025000,True,NaN,NaN
10,10,0.5,0.100000,0.25,5.5,4.000000,4.500000,1.5,0.700000,1.000000,...,1.0,0.20,0.120000,0.150000,0.05,0.050000,0.025000,True,NaN,NaN
11,11,0.0,0.090909,0.25,1.5,3.727273,4.500000,0.0,0.636364,1.000000,...,0.0,0.05,0.109091,0.100000,0.05,0.045455,0.025000,True,NaN,NaN
12,12,0.0,0.083333,0.25,1.5,3.583333,3.500000,0.0,0.583333,0.750000,...,0.0,0.10,0.116667,0.150000,0.00,0.041667,0.025000,True,NaN,NaN
13,13,0.0,0.071429,0.00,2.0,3.461538,1.666667,0.0,0.538462,0.000000,...,1.0,0.05,0.107143,0.075000,0.00,0.035714,0.000000,True,NaN,NaN
14,14,0.5,0.133333,0.25,4.0,3.500000,2.666667,2.0,0.642857,0.666667,...,0.0,0.40,0.146667,0.250000,0.00,0.033333,0.000000,True,NaN,NaN
15,15,0.5,0.125000,0.25,3.0,3.400000,2.666667,1.0,0.600000,0.666667,...,1.0,0.35,0.137500,0.200000,0.00,0.031250,0.000000,True,NaN,NaN
16,16,0.0,0.117647,0.25,4.0,3.562500,4.000000,1.0,0.687500,1.333333,...,0.0,0.05,0.135294,0.225000,0.00,0.029412,0.000000,True,NaN,NaN
17,17,0.0,0.111111,0.25,3.0,3.352941,3.000000,1.0,0.647059,1.000000,...,1.0,0.05,0.127778,0.200000,0.10,0.038889,0.050000,True,NaN,NaN
18,18,0.5,0.157895,0.25,2.5,3.444444,3.250000,1.5,0.777778,1.250000,...,1.0,0.10,0.131579,0.075000,0.10,0.036842,0.050000,True,NaN,NaN
19,19,0.5,0.150000,0.25,5.5,3.578947,4.250000,2.0,0.789474,1.500000,...,0.0,0.10,0.125000,0.075000,0.05,0.040000,0.075000,True,NaN,NaN

In [9]:
df.head().columns

Index(['Unnamed: 0', 'Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2',
       'Baseline_points_30', 'Baseline_points_4', 'Bonus_2', 'Bonus_30',
       'Bonus_4', 'CrdR_2', 'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4',
       'DEF', 'FPL_points', 'FPL_points_2', 'FPL_points_30', 'FPL_points_4',
       'FPL_pos', 'FWD', 'GK', 'GW', 'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2',
       'ICT_index_30', 'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4',
       'Name_original', 'Opp_rating', 'Opp_score_2', 'Opp_score_30',
       'Opp_score_4', 'Opponent', 'Rating_difference', 'Season', 'Sh_2',
       'Sh_30', 'Sh_4', 'SoT_2', 'SoT_30', 'SoT_4', 'Start_2', 'Start_30',
       'Start_4', 'Team', 'Team_CS_2', 'Team_CS_30', 'Team_CS_4',
       'Team_rating', 'Team_result_2', 'Team_result_30', 'Team_result_4',
       'Team_score_2', 'Team_score_30', 'Team_score_4', 'Was_home', 'xA_2',
       'xA_30', 'xA_4', 'xG_2', 'xG_30', 'xG_4', 'Finished', 'Date', 'Price'],
      dtype='object')

In [10]:
df["Date"].isna().sum()

22151

In [11]:
%%time
df["Opp rating"] = df.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

TypeError: strptime() argument 1 must be str, not float

In [12]:
%%time
df["Team rating"] = df.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

KeyError: 'Squad'

In [13]:
df.head(20)

,Unnamed: 0,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,...,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,Finished,Date,Price
0,0,0.0,0.000000,0.00,7.0,7.000000,7.000000,0.0,0.000000,0.000000,...,0.0,0.10,0.100000,0.100000,0.10,0.100000,0.100000,True,NaN,NaN
1,1,0.0,0.000000,0.00,7.0,7.000000,7.000000,0.0,0.000000,0.000000,...,1.0,0.10,0.100000,0.100000,0.10,0.100000,0.100000,True,NaN,NaN
2,2,0.0,0.000000,0.00,4.5,4.500000,4.500000,0.0,0.000000,0.000000,...,1.0,0.05,0.050000,0.050000,0.10,0.100000,0.100000,True,NaN,NaN
3,3,0.0,0.000000,0.00,3.0,4.333333,4.333333,0.5,0.333333,0.333333,...,0.0,0.05,0.066667,0.066667,0.05,0.066667,0.066667,True,NaN,NaN
4,4,0.0,0.000000,0.00,5.0,4.750000,4.750000,1.5,0.750000,0.750000,...,1.0,0.10,0.075000,0.075000,0.05,0.075000,0.075000,True,NaN,NaN
5,5,0.0,0.000000,0.00,3.5,4.000000,3.250000,1.0,0.600000,0.750000,...,0.0,0.15,0.100000,0.100000,0.05,0.060000,0.050000,True,NaN,NaN
6,6,0.0,0.000000,0.00,1.5,3.666667,3.250000,0.0,0.500000,0.750000,...,1.0,0.15,0.100000,0.125000,0.05,0.066667,0.050000,True,NaN,NaN
7,7,0.0,0.000000,0.00,1.5,3.285714,2.500000,0.0,0.428571,0.500000,...,0.0,0.15,0.114286,0.150000,0.05,0.057143,0.050000,True,NaN,NaN
8,8,0.0,0.000000,0.00,3.5,3.625000,2.500000,0.5,0.500000,0.250000,...,1.0,0.10,0.100000,0.125000,0.00,0.050000,0.025000,True,NaN,NaN
9,9,0.5,0.111111,0.25,7.5,4.222222,4.500000,2.0,0.777778,1.000000,...,0.0,0.15,0.122222,0.150000,0.00,0.044444,0.025000,True,NaN,NaN
10,10,0.5,0.100000,0.25,5.5,4.000000,4.500000,1.5,0.700000,1.000000,...,1.0,0.20,0.120000,0.150000,0.05,0.050000,0.025000,True,NaN,NaN
11,11,0.0,0.090909,0.25,1.5,3.727273,4.500000,0.0,0.636364,1.000000,...,0.0,0.05,0.109091,0.100000,0.05,0.045455,0.025000,True,NaN,NaN
12,12,0.0,0.083333,0.25,1.5,3.583333,3.500000,0.0,0.583333,0.750000,...,0.0,0.10,0.116667,0.150000,0.00,0.041667,0.025000,True,NaN,NaN
13,13,0.0,0.071429,0.00,2.0,3.461538,1.666667,0.0,0.538462,0.000000,...,1.0,0.05,0.107143,0.075000,0.00,0.035714,0.000000,True,NaN,NaN
14,14,0.5,0.133333,0.25,4.0,3.500000,2.666667,2.0,0.642857,0.666667,...,0.0,0.40,0.146667,0.250000,0.00,0.033333,0.000000,True,NaN,NaN
15,15,0.5,0.125000,0.25,3.0,3.400000,2.666667,1.0,0.600000,0.666667,...,1.0,0.35,0.137500,0.200000,0.00,0.031250,0.000000,True,NaN,NaN
16,16,0.0,0.117647,0.25,4.0,3.562500,4.000000,1.0,0.687500,1.333333,...,0.0,0.05,0.135294,0.225000,0.00,0.029412,0.000000,True,NaN,NaN
17,17,0.0,0.111111,0.25,3.0,3.352941,3.000000,1.0,0.647059,1.000000,...,1.0,0.05,0.127778,0.200000,0.10,0.038889,0.050000,True,NaN,NaN
18,18,0.5,0.157895,0.25,2.5,3.444444,3.250000,1.5,0.777778,1.250000,...,1.0,0.10,0.131579,0.075000,0.10,0.036842,0.050000,True,NaN,NaN
19,19,0.5,0.150000,0.25,5.5,3.578947,4.250000,2.0,0.789474,1.500000,...,0.0,0.10,0.125000,0.075000,0.05,0.040000,0.075000,True,NaN,NaN

In [14]:
df.to_csv("data/upcoming_fixtures_with_rating.csv")