In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
team_ratings = pd.read_csv("data/team_ratings_history.csv")

In [4]:
team_ratings

,Unnamed: 0,Rank,Club,Country,Level,Elo,From,To
0,0,None,Arsenal,ENG,1,1551.140259,1946-07-07,1946-08-31
1,1,None,Arsenal,ENG,1,1539.570068,1946-09-01,1946-09-04
2,2,None,Arsenal,ENG,1,1525.449463,1946-09-05,1946-09-07
3,3,None,Arsenal,ENG,1,1523.855591,1946-09-08,1946-09-11
4,4,None,Arsenal,ENG,1,1518.939331,1946-09-12,1946-09-14
...,...,...,...,...,...,...,...,...
119848,3750,None,Watford,ENG,2,1561.605835,2023-01-03,2023-01-14
119849,3751,None,Watford,ENG,2,1567.879761,2023-01-15,2023-01-21
119850,3752,None,Watford,ENG,2,1563.442261,2023-01-22,2023-01-28
119851,3753,None,Watford,ENG,2,1563.442261,2023-01-29,2023-02-22
119852,3754,None,Watford,ENG,2,1563.442261,2023-02-23,2023-12-31

In [5]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    return rating

In [6]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    return team_name

In [7]:
df = pd.read_csv("data/fpl_fbref_players.csv")

In [8]:
df.head().columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Date', 'Day', 'Comp', 'Round', 'Venue',
       'Squad', 'Opponent', 'Start', 'Pos', 'Min', 'Gls', 'Ast', 'PK', 'PKatt',
       'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches', 'Tkl', 'Int', 'Blocks', 'xG',
       'npxG', 'xAG', 'SCA', 'GCA', 'Cmp', 'Att', 'Cmp%', 'Prog', 'Succ',
       'Att.1', 'Match Report', 'Name', 'Season', 'WDL', 'GoalsTeams',
       'Team Score', 'Opp Score', 'CS', 'Was Home', 'GW', 'FPL',
       'neutral_name', 'Total Points'],
      dtype='object')

In [9]:
%%time
df["Opp rating"] = df.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 1min 18s
Wall time: 1min 20s

In [10]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Date,Day,Comp,Round,Venue,Squad,Opponent,Start,...,GoalsTeams,Team Score,Opp Score,CS,Was Home,GW,FPL,neutral_name,Total Points,Opp rating
0,0,4,2022-08-27,Sat,Premier League,Matchweek 4,Away,Leeds United,Brighton,Y,...,0â€“1,0,1,0.0,0.0,4,2.0,Brenden-Aaronson,1.0,1783.540161
1,1,5,2022-08-30,Tue,Premier League,Matchweek 5,Home,Leeds United,Everton,Y,...,1â€“1,1,1,0.0,1.0,5,5.0,Brenden-Aaronson,5.0,1688.922485
2,2,6,2022-09-03,Sat,Premier League,Matchweek 6,Away,Leeds United,Brentford,Y,...,2â€“5,2,5,0.0,0.0,6,2.0,Brenden-Aaronson,2.0,1727.113647
3,3,9,2022-10-02,Sun,Premier League,Matchweek 9,Home,Leeds United,Aston Villa,Y,...,0â€“0,0,0,1.0,1.0,9,3.0,Brenden-Aaronson,3.0,1716.016846
4,4,10,2022-10-09,Sun,Premier League,Matchweek 10,Away,Leeds United,Crystal Palace,Y,...,1â€“2,1,2,0.0,0.0,10,2.0,Brenden-Aaronson,5.0,1748.905396

In [ ]:
df.to_csv("data/fpl_fbref_elo_players")