# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
from vaastav.getters import *
from datetime import datetime

# Constants

In [3]:
NEXT_GW = 1

# least number of gameweeks that player had to play
FIS = 1

CURRENT_SEASON = '2023-24'

# Upcoming fixtures

In [4]:
fixtures = get_fixtures_data()

In [5]:
df_fixtures = pd.DataFrame(fixtures)

In [6]:
df_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2367552,NaN,False,False,15,None,0,False,None,6,NaN,12,NaN,[],2,2,93335
1,2367713,NaN,False,False,176,None,0,False,None,4,NaN,13,NaN,[],3,5,93496
2,2367538,1.0,True,True,1,2023-08-11T19:00:00Z,90,False,True,13,3.0,6,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,93321
3,2367540,1.0,False,True,2,2023-08-12T12:00:00Z,90,False,True,16,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,93322
4,2367539,1.0,False,True,3,2023-08-12T14:00:00Z,90,False,True,19,1.0,3,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,93323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2367913,38.0,False,False,376,2024-05-19T15:00:00Z,0,False,False,2,NaN,8,NaN,[],3,2,93696
376,2367914,38.0,False,False,377,2024-05-19T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,93697
377,2367915,38.0,False,False,378,2024-05-19T15:00:00Z,0,False,False,10,NaN,12,NaN,[],2,2,93698
378,2367916,38.0,False,False,379,2024-05-19T15:00:00Z,0,False,False,19,NaN,13,NaN,[],2,5,93699
379,2367917,38.0,False,False,380,2024-05-19T15:00:00Z,0,False,False,18,NaN,17,NaN,[],3,2,93700

In [7]:
df_upcoming_fixtures = df_fixtures[df_fixtures["event"] >= NEXT_GW] # also removes rows with no GW number attached (postponed fixtures)

In [8]:
current_teams = [
        'Arsenal',
        'Aston Villa',
        'Bournemouth',
        'Brentford',
        'Brighton',
        'Burnley',
        'Chelsea',
        'Crystal Palace',
        'Everton',
        'Fulham',
        'Liverpool',
        'Luton',
        'Manchester City',
        'Manchester Utd',
        'Newcastle Utd',
        "Nott'ham Forest",
        'Sheffield United',
        'Tottenham',
        'West Ham',
        'Wolves'
    ]

In [9]:
# 2023-24 season
def team_id_to_name(current_teams, team_id):
    return current_teams[team_id - 1]

In [10]:
df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

C:\Users\user\AppData\Local\Temp\ipykernel_14676\2597988153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(lambda x: team_id_to_name(current_teams, x))
C:\Users\user\AppData\Local\Temp\ipykernel_14676\2597988153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(lambda x: team_id_to_name(current_teams, x))

In [11]:
df_upcoming_fixtures.rename(columns={"event": "GW"}, inplace=True)

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [12]:
# df_upcoming_fixtures

In [13]:
df_upcoming_fixtures = df_upcoming_fixtures[["GW", "kickoff_time", "Squad H", "Squad A"]]

In [14]:
df_upcoming_fixtures["kickoff_time"] = df_upcoming_fixtures["kickoff_time"].str[:10]

In [15]:
df_upcoming_fixtures.shape

(378, 4)

In [16]:
df_upcoming_fixtures.head(10)

     GW kickoff_time           Squad H          Squad A
2   1.0   2023-08-11           Burnley  Manchester City
3   1.0   2023-08-12           Arsenal  Nott'ham Forest
4   1.0   2023-08-12       Bournemouth         West Ham
5   1.0   2023-08-12          Brighton            Luton
6   1.0   2023-08-12           Everton           Fulham
7   1.0   2023-08-12  Sheffield United   Crystal Palace
8   1.0   2023-08-12     Newcastle Utd      Aston Villa
9   1.0   2023-08-13         Brentford        Tottenham
10  1.0   2023-08-13           Chelsea        Liverpool
11  1.0   2023-08-14    Manchester Utd           Wolves

# Active players

In [17]:
previous_fixtures = pd.read_csv("data/df_features.csv")

In [18]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [19]:
def get_active_players():
    previous_fixtures = pd.read_csv("data/df_features.csv")
    active_players = pd.read_csv("data/active_players.csv")
    player_names = active_players["name"].to_list()
    print(len(player_names))
    name_counts = previous_fixtures.groupby('Name_original').size()
    filtered_names = name_counts[name_counts >= FIS].index
    print(len(filtered_names))
    filtered_names = [n for n in filtered_names if n in player_names]
    print(len(filtered_names))
    result = previous_fixtures[previous_fixtures['Name_original'].isin(filtered_names)].groupby('Name_original').tail(1)
    result = result.loc[:, ~result.columns.str.contains('^Unnamed')]
    
    
    return result

In [20]:
active_players = get_active_players()

644
491
350

In [21]:
active_players

,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,CrdR_2,...,Team_score_2,Team_score_30,Team_score_4,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4
63,0.0,0.033333,0.00,0.0,1.800000,1.75,0.0,0.266667,0.00,0.0,...,1.5,1.233333,1.00,0.0,0.000000e+00,0.100000,2.500000e-02,0.000000e+00,0.000000,0.000000e+00
91,0.5,0.037037,0.25,5.0,2.037037,3.50,0.0,0.074074,0.00,0.0,...,2.5,1.518519,1.75,1.0,1.000000e-01,0.011111,5.000000e-02,5.000000e-02,0.007407,2.500000e-02
146,0.0,0.000000,0.00,4.0,2.275862,3.75,0.0,0.103448,0.00,0.0,...,2.5,1.400000,1.75,1.0,0.000000e+00,0.030000,2.500000e-02,1.000000e-01,0.050000,5.000000e-02
202,0.0,0.066667,0.00,2.0,2.034483,4.25,0.0,0.241379,0.50,0.0,...,0.5,1.066667,2.00,1.0,1.000000e-01,0.076667,1.250000e-01,5.000000e-02,0.073333,2.000000e-01
357,0.0,0.033333,0.00,2.0,1.750000,3.50,0.0,0.142857,0.25,0.0,...,3.5,1.600000,3.00,0.0,5.000000e-02,0.030000,5.000000e-02,5.000000e-02,0.040000,5.000000e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19877,0.0,0.066667,0.00,0.5,1.555556,0.75,0.0,0.111111,0.00,0.0,...,2.5,1.300000,1.75,1.0,5.000000e-02,0.083333,7.500000e-02,5.000000e-02,0.163333,1.000000e-01
19892,0.0,0.000000,0.00,0.0,0.142857,0.00,0.0,0.000000,0.00,0.0,...,2.0,1.857143,2.00,0.0,2.275957e-15,0.014286,4.718448e-16,2.220446e-15,0.000000,8.604228e-16
19997,0.5,0.066667,0.25,9.0,2.700000,5.00,1.0,0.166667,0.50,0.0,...,2.5,1.400000,1.75,1.0,1.000000e-01,0.053333,5.000000e-02,8.500000e-01,0.126667,4.250000e-01
20058,0.0,0.033333,0.00,2.5,2.500000,2.00,0.0,0.166667,0.00,0.0,...,0.0,1.366667,1.25,1.0,2.248202e-15,0.136667,1.250000e-01,2.220446e-15,0.076667,2.500000e-02
20110,0.0,0.033333,0.00,1.0,1.413793,0.75,0.0,0.103448,0.00,0.0,...,1.0,1.800000,1.00,0.0,2.248202e-15,0.020000,4.718448e-16,2.220446e-15,0.006667,8.049117e-16

In [22]:
previous_fixtures.shape

(20111, 68)

In [23]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [24]:
previous_fixtures[previous_fixtures["Team"] == current_teams[10]]["Name_original"].unique()

array(['Alex Oxlade-Chamberlain', 'Andrew Robertson', 'Ben Doak',
       'Bobby Clark', 'Cody Gakpo', 'Curtis Jones',
       'Thiago Alcántara do Nascimento', 'Diogo Teixeira da Silva',
       'Fabio Henrique Tavares', 'Fábio Freitas Gouveia Carvalho',
       'Harvey Elliott', 'Ibrahima Konaté', 'James Milner',
       'Joseph Gomez', 'Joel Matip', 'Jordan Henderson',
       'Konstantinos Tsimikas', 'Luis Díaz', 'Mohamed Salah',
       'Naby Keita', 'Nathaniel Phillips', 'Neco Williams',
       'Roberto Firmino', 'Stefan Bajcetic', 'Trent Alexander-Arnold',
       'Virgil van Dijk'], dtype=object)

In [25]:
active_players.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [26]:
active_players["Team"].unique()

array(['West Ham', 'Brentford', 'Manchester Utd', 'Everton', 'Brighton',
       'Bournemouth', 'Crystal Palace', 'Fulham', 'Newcastle Utd',
       'Liverpool', 'Chelsea', 'Aston Villa', 'Manchester City',
       'Tottenham', 'Arsenal', 'Wolves', "Nott'ham Forest",
       'Leicester City', 'Southampton'], dtype=object)

In [27]:
for i in range(0,20):
    print(i, current_teams[i], active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[i]].shape)

0 Arsenal (22, 3)
1 Aston Villa (19, 3)
2 Bournemouth (22, 3)
3 Brentford (22, 3)
4 Brighton (22, 3)
5 Burnley (0, 3)
6 Chelsea (22, 3)
7 Crystal Palace (19, 3)
8 Everton (18, 3)
9 Fulham (17, 3)
10 Liverpool (20, 3)
11 Luton (0, 3)
12 Manchester City (21, 3)
13 Manchester Utd (22, 3)
14 Newcastle Utd (23, 3)
15 Nott'ham Forest (21, 3)
16 Sheffield United (0, 3)
17 Tottenham (20, 3)
18 West Ham (19, 3)
19 Wolves (17, 3)

In [28]:
active_players[["Name_original", "Team", "FPL_pos"]][active_players["Team"] == current_teams[6]]

                   Name_original     Team FPL_pos
1369               Armando Broja  Chelsea     FWD
1613                Ben Chilwell  Chelsea     DEF
1908           Benoît Badiashile  Chelsea     DEF
2696          Carney Chukwuemeka  Chelsea     MID
2813           César Azpilicueta  Chelsea     DEF
3247           Christian Pulisic  Chelsea     MID
3538             Conor Gallagher  Chelsea     MID
4220          David Datro Fofana  Chelsea     FWD
5517              Enzo Fernández  Chelsea     MID
6438                Hakim Ziyech  Chelsea     MID
10302                Kai Havertz  Chelsea     FWD
11504                 Lewis Hall  Chelsea     MID
12421      Marc Cucurella Saseta  Chelsea     DEF
12915                Mason Mount  Chelsea     MID
14187            Mykhailo Mudryk  Chelsea     MID
14833               Noni Madueke  Chelsea     MID
15727  Pierre-Emerick Aubameyang  Chelsea     FWD
15908            Raheem Sterling  Chelsea     MID
16116                Reece James  Chelsea     DEF
18436   Thiago Emiliano da Silva  Chelsea     DEF
18991            Trevoh Chalobah  Chelsea     DEF
19522              Wesley Fofana  Chelsea     DEF

In [29]:
active_players.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4'],
      dtype='object')

In [30]:
picked_columns = ["Name_original", "GW", "kickoff_time", "Squad", "Squad H", "Squad A", "Was_home", "Opponent", "FPL_pos"]

In [31]:
upcoming_player_fixtures_home = active_players.rename(columns={"Team": "Squad H"}).drop(columns=["GW"]).set_index(["Squad H"]).join(df_upcoming_fixtures.set_index(["Squad H"])).reset_index(level=0)
upcoming_player_fixtures_home["Squad"] = upcoming_player_fixtures_home["Squad H"]
upcoming_player_fixtures_home["Was Home"] = 1
# upcoming_player_fixtures_home.loc[upcoming_player_fixtures_home["GW_left"].isnull(), "GW_left"] = 77
# upcoming_player_fixtures_home['C'] = upcoming_player_fixtures_home['GW_left'].fillna(upcoming_player_fixtures_home['GW_right'])
upcoming_player_fixtures_home["Opponent"] = upcoming_player_fixtures_home["Squad A"]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Squad"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[upcoming_player_fixtures_home["Opponent"].isin(current_teams)]
upcoming_player_fixtures_home = upcoming_player_fixtures_home[picked_columns]

In [32]:
upcoming_player_fixtures_home[upcoming_player_fixtures_home["GW"].isna()]

Empty DataFrame
Columns: [Name_original, GW, kickoff_time, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos]
Index: []

In [33]:
upcoming_player_fixtures_home['GW'].unique()

array([ 1.,  3.,  4.,  6.,  8., 10., 12., 14., 17., 19., 21., 23., 26.,
       28., 29., 31., 33., 36., 38.,  2.,  5.,  7.,  9., 15., 16., 18.,
       20., 22., 24., 30., 32., 34., 35., 37., 11., 13., 25., 27.])

In [34]:
upcoming_player_fixtures_away = active_players.rename(columns={"Team": "Squad A"}).drop(columns=["GW"]).set_index("Squad A").join(df_upcoming_fixtures.set_index("Squad A")).reset_index(level=0)
upcoming_player_fixtures_away["Squad"] = upcoming_player_fixtures_away["Squad A"]
upcoming_player_fixtures_away["Was Home"] = 0
upcoming_player_fixtures_away["Opponent"] = upcoming_player_fixtures_away["Squad H"]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Squad"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[upcoming_player_fixtures_away["Opponent"].isin(current_teams)]
upcoming_player_fixtures_away = upcoming_player_fixtures_away[picked_columns]

In [35]:
upcoming_player_fixtures = pd.concat([upcoming_player_fixtures_home, upcoming_player_fixtures_away]).sort_values(by=["Name_original", "GW"])

In [36]:
upcoming_player_fixtures["Season"] = CURRENT_SEASON
upcoming_player_fixtures["Finished"] = False

In [37]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"kickoff_time": "Date"})

In [38]:
# upcoming_player_fixtures[upcoming_player_fixtures["Name"] == "Gabriel-Dos-Santos"]

In [39]:
upcoming_player_fixtures

,Name_original,GW,Date,Squad,Squad H,Squad A,Was_home,Opponent,FPL_pos,Season,Finished
5872,Aaron Cresswell,1.0,2023-08-12,West Ham,Bournemouth,West Ham,0.0,Bournemouth,DEF,2023-24,False
5873,Aaron Cresswell,2.0,2023-08-20,West Ham,West Ham,Chelsea,0.0,Chelsea,DEF,2023-24,False
5873,Aaron Cresswell,3.0,2023-08-26,West Ham,Brighton,West Ham,0.0,Brighton,DEF,2023-24,False
5874,Aaron Cresswell,4.0,2023-09-01,West Ham,Luton,West Ham,0.0,Luton,DEF,2023-24,False
5874,Aaron Cresswell,5.0,2023-09-16,West Ham,West Ham,Manchester City,0.0,Manchester City,DEF,2023-24,False
...,...,...,...,...,...,...,...,...,...,...,...
5870,Yves Bissouma,34.0,2024-04-20,Tottenham,Tottenham,Manchester City,0.0,Manchester City,MID,2023-24,False
5871,Yves Bissouma,35.0,2024-04-27,Tottenham,Tottenham,Arsenal,0.0,Arsenal,MID,2023-24,False
5870,Yves Bissouma,36.0,2024-05-04,Tottenham,Liverpool,Tottenham,0.0,Liverpool,MID,2023-24,False
5872,Yves Bissouma,37.0,2024-05-11,Tottenham,Tottenham,Burnley,0.0,Burnley,MID,2023-24,False
5871,Yves Bissouma,38.0,2024-05-19,Tottenham,Sheffield United,Tottenham,0.0,Sheffield United,MID,2023-24,False

In [40]:
upcoming_player_fixtures.shape

(13105, 11)

# Loading previous fixtures

In [41]:
previous_fixtures = pd.read_csv("data/df_features.csv")

In [42]:
previous_fixtures["Finished"] = True

# Assigning team elo

In [43]:
team_ratings = pd.read_csv("data/team_ratings_history.csv")

In [44]:
# function to assign rating for team
def get_rating_for_team(team_ratings, team_name, date):
    rating = None
    try:
        rating = team_ratings[(team_ratings['From'] <= date.strftime("%Y-%m-%d")) & (team_ratings['Club'] == team_name)].iloc[-1]['Elo']
    except:
        print(team_name, date)
    return rating

In [45]:
def fbref_to_team_elo(team_name):
    # changes name of a team
    if team_name == "Leicester City":
        return "Leicester"
    if team_name == "Manchester City":
        return "Man City"
    if team_name == "Manchester Utd":
        return "Man United"
    if team_name == "Newcastle Utd":
        return "Newcastle"
    if team_name == "Nott'ham Forest":
        return "Forest"
    if team_name == "Leeds United":
        return "Leeds"
    return team_name

In [46]:
datetime.strptime(upcoming_player_fixtures['Date'].iloc[1], '%Y-%m-%d')

datetime.datetime(2023, 8, 20, 0, 0)

In [47]:
upcoming_player_fixtures[upcoming_player_fixtures['Date'].isna()]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Season, Finished]
Index: []

In [48]:
%%time
upcoming_player_fixtures["Opp rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Opponent']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 2min 38s
Wall time: 2min 39s

In [49]:
%%time
upcoming_player_fixtures["Team rating"] = upcoming_player_fixtures.apply(lambda row : get_rating_for_team(team_ratings,
                     fbref_to_team_elo(row['Squad']), datetime.strptime(row['Date'], '%Y-%m-%d')), axis=1)

CPU times: total: 2min 41s
Wall time: 2min 44s

In [50]:
upcoming_player_fixtures[upcoming_player_fixtures["Name_original"] == "Gabriel-Dos-Santos"]

Empty DataFrame
Columns: [Name_original, GW, Date, Squad, Squad H, Squad A, Was_home, Opponent, FPL_pos, Season, Finished, Opp rating, Team rating]
Index: []

In [51]:
upcoming_player_fixtures = upcoming_player_fixtures.rename(columns={"Opp rating": "Opp_rating", "Team rating": "Team_rating", "Squad": "Team"})
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad H"], axis=1)
upcoming_player_fixtures = upcoming_player_fixtures.drop(["Squad A"], axis=1)

In [52]:
upcoming_player_fixtures["Rating_difference"] = upcoming_player_fixtures["Team_rating"] - upcoming_player_fixtures["Opp_rating"]

In [53]:
upcoming_player_fixtures.columns

Index(['Name_original', 'GW', 'Date', 'Team', 'Was_home', 'Opponent',
       'FPL_pos', 'Season', 'Finished', 'Opp_rating', 'Team_rating',
       'Rating_difference'],
      dtype='object')

# Concat dataframes

In [54]:
all_fixtures = pd.concat([previous_fixtures, upcoming_player_fixtures])

In [55]:
previous_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished'],
      dtype='object')

In [56]:
all_fixtures.shape

(33216, 70)

In [57]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date'],
      dtype='object')

In [58]:
all_fixtures.tail(10)

,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,CrdR_2,...,Team_score_4,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,Finished,Date
5867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-03-16
5868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-03-30
5868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-04-02
5869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-04-06
5869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-04-13
5870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-04-20
5871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-04-27
5870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-05-04
5872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-05-11
5871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,2024-05-19

# Filling missing values

In [59]:
all_fixtures_before_fill = all_fixtures.copy()

In [60]:
# all_fixtures = all_fixtures_before_fill

In [61]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date'],
      dtype='object')

In [62]:
rolling_gameweeks = [2, 4, 30]
features_to_roll = [
                "Min", "Start", # time played
                'Gls', 'Sh', 'SoT', # Goals
                'Ast', # Assists
                'CrdY', 'CrdR', # Cards
                "xG", 'xA', # Expected
                'Team_CS', # Defence
                'Team_score', 'Opp_score', 'Team_result', # Team form
                # "xGPoints", "CSPoints", # Position-scaled
                # "Cmp%", "PrgP", "PrgC", "T_succ",
                # 'bonus', 'bps', # Bonus
                # 'Influence', 'Creativity', 'Threat', 
                'ICT_index', # ICT
                "FPL_points", "Baseline_points", "Bonus" # FPL points
            ]
columns_to_fill = ["DEF", "MID", "FWD"]

for r in rolling_gameweeks:
    columns_to_fill += [f'{col}{"_"}{r}' for col in features_to_roll]
    
columns_to_fill = ['Was_home',
 'Team_rating',
 'Opp_rating',
 'Rating_difference',
 'Min_2',
 'Start_2',
 'Gls_2',
 'Sh_2',
 'SoT_2',
 'Ast_2',
 'CrdY_2',
 'CrdR_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'ICT_index_2',
 'FPL_points_2',
 'Baseline_points_2',
 'Bonus_2',
 'Min_4',
 'Start_4',
 'Gls_4',
 'Sh_4',
 'SoT_4',
 'Ast_4',
 'CrdY_4',
 'CrdR_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'ICT_index_4',
 'FPL_points_4',
 'Baseline_points_4',
 'Bonus_4',
 'Min_30',
 'Start_30',
 'Gls_30',
 'Sh_30',
 'SoT_30',
 'Ast_30',
 'CrdY_30',
 'CrdR_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'ICT_index_30',
 'FPL_points_30',
 'Baseline_points_30',
 'Bonus_30',
 'DEF',
 'FWD',
 'MID']
    
info = ["Name_original", "GW", "Season", "Team", "Opponent", "Was_home", "Team_rating", "Opp_rating", "FPL_pos"]

In [63]:
columns_to_fill

['Was_home',
 'Team_rating',
 'Opp_rating',
 'Rating_difference',
 'Min_2',
 'Start_2',
 'Gls_2',
 'Sh_2',
 'SoT_2',
 'Ast_2',
 'CrdY_2',
 'CrdR_2',
 'xG_2',
 'xA_2',
 'Team_CS_2',
 'Team_score_2',
 'Opp_score_2',
 'Team_result_2',
 'ICT_index_2',
 'FPL_points_2',
 'Baseline_points_2',
 'Bonus_2',
 'Min_4',
 'Start_4',
 'Gls_4',
 'Sh_4',
 'SoT_4',
 'Ast_4',
 'CrdY_4',
 'CrdR_4',
 'xG_4',
 'xA_4',
 'Team_CS_4',
 'Team_score_4',
 'Opp_score_4',
 'Team_result_4',
 'ICT_index_4',
 'FPL_points_4',
 'Baseline_points_4',
 'Bonus_4',
 'Min_30',
 'Start_30',
 'Gls_30',
 'Sh_30',
 'SoT_30',
 'Ast_30',
 'CrdY_30',
 'CrdR_30',
 'xG_30',
 'xA_30',
 'Team_CS_30',
 'Team_score_30',
 'Opp_score_30',
 'Team_result_30',
 'ICT_index_30',
 'FPL_points_30',
 'Baseline_points_30',
 'Bonus_30',
 'DEF',
 'FWD',
 'MID']

In [64]:
all_fixtures[columns_to_fill] = all_fixtures.groupby('Name_original')[columns_to_fill].ffill()

In [65]:
all_fixtures.tail(10)

,Ast_2,Ast_30,Ast_4,Baseline_points_2,Baseline_points_30,Baseline_points_4,Bonus_2,Bonus_30,Bonus_4,CrdR_2,...,Team_score_4,Was_home,xA_2,xA_30,xA_4,xG_2,xG_30,xG_4,Finished,Date
5867,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-03-16
5868,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-03-30
5868,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-02
5869,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-06
5869,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-13
5870,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-20
5871,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-04-27
5870,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-05-04
5872,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-05-11
5871,0.0,0.033333,0.0,1.0,1.413793,0.75,0.0,0.103448,0.0,0.0,...,1.0,0.0,2.248202e-15,0.02,4.718448e-16,2.220446e-15,0.006667,8.049117e-16,False,2024-05-19

In [66]:
all_fixtures[all_fixtures["Name_original"] == "Erling Haaland"][["Name_original", "Season", "GW"]].head(45)

       Name_original   Season    GW
5586  Erling Haaland  2022-23   1.0
5587  Erling Haaland  2022-23   2.0
5588  Erling Haaland  2022-23   3.0
5589  Erling Haaland  2022-23   4.0
5590  Erling Haaland  2022-23   5.0
5591  Erling Haaland  2022-23   6.0
5592  Erling Haaland  2022-23   8.0
5593  Erling Haaland  2022-23   9.0
5594  Erling Haaland  2022-23  10.0
5595  Erling Haaland  2022-23  11.0
5596  Erling Haaland  2022-23  13.0
5597  Erling Haaland  2022-23  15.0
5598  Erling Haaland  2022-23  16.0
5599  Erling Haaland  2022-23  17.0
5600  Erling Haaland  2022-23  18.0
5601  Erling Haaland  2022-23  19.0
5602  Erling Haaland  2022-23  20.0
5603  Erling Haaland  2022-23   7.0
5604  Erling Haaland  2022-23  21.0
5605  Erling Haaland  2022-23  22.0
5606  Erling Haaland  2022-23  23.0
5607  Erling Haaland  2022-23  12.0
5608  Erling Haaland  2022-23  24.0
5609  Erling Haaland  2022-23  25.0
5610  Erling Haaland  2022-23  26.0
5611  Erling Haaland  2022-23  27.0
5612  Erling Haaland  2022-23  30.0
5613  Erling Haaland  2022-23  31.0
5614  Erling Haaland  2022-23  33.0
5615  Erling Haaland  2022-23  34.0
5616  Erling Haaland  2022-23  28.0
5617  Erling Haaland  2022-23  35.0
5618  Erling Haaland  2022-23  36.0
5619  Erling Haaland  2022-23  37.0
5620  Erling Haaland  2022-23  32.0
5621  Erling Haaland  2022-23  38.0
3895  Erling Haaland  2023-24   1.0
3914  Erling Haaland  2023-24   2.0
3896  Erling Haaland  2023-24   3.0
3915  Erling Haaland  2023-24   4.0
3897  Erling Haaland  2023-24   5.0
3916  Erling Haaland  2023-24   6.0
3898  Erling Haaland  2023-24   7.0
3899  Erling Haaland  2023-24   8.0
3917  Erling Haaland  2023-24   9.0

# Saving to file

In [67]:
all_fixtures.to_csv("data/upcoming_fixtures.csv")

In [68]:
all_fixtures.columns

Index(['Ast_2', 'Ast_30', 'Ast_4', 'Baseline_points_2', 'Baseline_points_30',
       'Baseline_points_4', 'Bonus_2', 'Bonus_30', 'Bonus_4', 'CrdR_2',
       'CrdR_30', 'CrdR_4', 'CrdY_2', 'CrdY_30', 'CrdY_4', 'DEF', 'FPL_points',
       'FPL_points_2', 'FPL_points_30', 'FPL_points_4', 'FPL_pos', 'FWD', 'GW',
       'Gls_2', 'Gls_30', 'Gls_4', 'ICT_index_2', 'ICT_index_30',
       'ICT_index_4', 'MID', 'Min_2', 'Min_30', 'Min_4', 'Name_original',
       'Opp_rating', 'Opp_score_2', 'Opp_score_30', 'Opp_score_4', 'Opponent',
       'Rating_difference', 'Season', 'Sh_2', 'Sh_30', 'Sh_4', 'SoT_2',
       'SoT_30', 'SoT_4', 'Start_2', 'Start_30', 'Start_4', 'Team',
       'Team_CS_2', 'Team_CS_30', 'Team_CS_4', 'Team_rating', 'Team_result_2',
       'Team_result_30', 'Team_result_4', 'Team_score_2', 'Team_score_30',
       'Team_score_4', 'Was_home', 'xA_2', 'xA_30', 'xA_4', 'xG_2', 'xG_30',
       'xG_4', 'Finished', 'Date'],
      dtype='object')

In [69]:
all_fixtures.shape

(33216, 70)

In [70]:
all_fixtures["Season"].unique()

array(['2021-22', '2022-23', '2023-24'], dtype=object)