In [2]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [4]:
import pandas as pd
from vaastav import getters

In [14]:
elements = pd.DataFrame(getters.get_data()["elements"])
elements.shape

(644, 88)

In [16]:
elements.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [15]:
elements

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100.0,100.0,232223,0,0,0,0,0,4,1.5,...,436,68,281,12,281,12,194,37,0.0,0.0
1,NaN,NaN,58822,0,0,0,0,0,2,1.5,...,545,154,55,16,55,16,250,89,0.0,0.0
2,0.0,0.0,153256,0,0,0,0,0,3,0.0,...,362,206,210,34,210,34,417,138,0.0,0.0
3,NaN,NaN,438098,0,0,0,0,0,3,2.6,...,137,89,564,230,564,230,414,136,0.0,0.0
4,NaN,NaN,226597,0,0,0,0,0,2,2.8,...,255,31,470,202,470,202,7,3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,NaN,NaN,200402,0,0,0,0,0,2,2.0,...,398,98,244,136,244,136,271,100,0.0,0.0
640,NaN,NaN,510362,0,0,0,0,0,2,2.0,...,523,150,364,185,364,185,439,166,0.0,0.0
641,NaN,NaN,476502,0,0,0,0,0,3,1.0,...,492,244,334,71,334,71,217,69,0.0,0.0
642,75.0,75.0,430871,0,0,0,0,0,4,1.4,...,134,34,561,52,561,52,291,52,0.0,0.0
643,NaN,NaN,87835,0,0,0,0,0,2,2.0,...,334,53,182,93,182,93,267,98,0.0,0.0

In [3]:
df1 = pd.read_csv("data/upcoming_fixtures.csv")

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (2,3,4,7,8,36,42,43,44,45,46,59,82,83,84) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
df1.shape

(38663, 87)

In [12]:
# NaNs
df1[["Team rating"]].isna().sum().sort_values(ascending=False)

Team rating    24573
dtype: int64

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38663 entries, 0 to 38662
Data columns (total 87 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         38663 non-null  int64
 1   Date               38663 non-null  object
 2   Day                24573 non-null  object
 3   Venue              24573 non-null  object
 4   Team               24573 non-null  object
 5   Opponent           38663 non-null  object
 6   Name               38663 non-null  object
 7   Start              24573 non-null  object
 8   Pos                24550 non-null  object
 9   Min                24570 non-null  float64
 10  Gls                24573 non-null  float64
 11  Ast                24573 non-null  float64
 12  PK                 24573 non-null  float64
 13  PKatt              24573 non-null  float64
 14  Sh                 24573 non-null  float64
 15  SoT                24573 non-null  float64
 16  CrdY               24573 non-null  float64
 17  CrdR               24573 non-null  float64
 18  Touches            24378 non-null  float64
 19  Tkl                24378 non-null  float64
 20  Int                24573 non-null  float64
 21  Blocks             24378 non-null  float64
 22  xG                 24378 non-null  float64
 23  npxG               24378 non-null  float64
 24  xA                 24378 non-null  float64
 25  SCA                24378 non-null  float64
 26  GCA                24378 non-null  float64
 27  Cmp                24378 non-null  float64
 28  Att                24378 non-null  float64
 29  Cmp%               24167 non-null  float64
 30  PrgP               24378 non-null  float64
 31  Carries            24378 non-null  float64
 32  PrgC               24378 non-null  float64
 33  T_att              24378 non-null  float64
 34  T_succ             24378 non-null  float64
 35  Season             38663 non-null  object
 36  WDL                24573 non-null  object
 37  Team_score         24573 non-null  float64
 38  Opp_score          24573 non-null  float64
 39  Team_CS            24573 non-null  float64
 40  Was_home           38663 non-null  float64
 41  GW                 38663 non-null  float64
 42  Clean_name         24573 non-null  object
 43  FPL_name           24573 non-null  object
 44  FPL_team           24573 non-null  object
 45  FPL_opp_team       24573 non-null  object
 46  Name_original      22151 non-null  object
 47  FPL_pos            35710 non-null  object
 48  FPL_ast            22151 non-null  float64
 49  Bonus              22151 non-null  float64
 50  Bps                22151 non-null  float64
 51  Player_CS          22151 non-null  float64
 52  Creativity         22151 non-null  float64
 53  Element            22151 non-null  float64
 54  Fixture            22151 non-null  float64
 55  Player_GC          22151 non-null  float64
 56  Goals_scored       22151 non-null  float64
 57  ICT_index          22151 non-null  float64
 58  Influence          22151 non-null  float64
 59  Kickoff_time       22151 non-null  object
 60  FPL_min            22151 non-null  float64
 61  Own_goals          22151 non-null  float64
 62  Penalties_missed   22151 non-null  float64
 63  Penalties_saved    22151 non-null  float64
 64  Saves              22151 non-null  float64
 65  Selected           22151 non-null  float64
 66  Threat             22151 non-null  float64
 67  FPL_points         22151 non-null  float64
 68  Transfers_balance  22151 non-null  float64
 69  Transfers_in       22151 non-null  float64
 70  Transfers_out      22151 non-null  float64
 71  Value              22151 non-null  float64
 72  FPL_GW             22151 non-null  float64
 73  xP                 14128 non-null  float64
 74  FPL_xA             14128 non-null  float64
 75  FPL_xGI            14128 non-null  float64
 76  FPL_xG             14128 non-null  float64
 77  FPL_xGC            14128 non-null  float64
 78  Opp_rating         24047 non-null  float64
 79  Team_rating        24542 non-null  float64
 80  Min_points         0 non-null      float64
 81  Finished           38663 non-null  bool
 82  Squad              14090 non-null  object
 83  Squad H            14090 non-null  object
 84  Squad A            14090 non-null  object
 85  Opp rating         14090 non-null  float64
 86  Team rating        14090 non-null  float64
dtypes: bool(1), float64(65), int64(1), object(20)
memory usage: 25.4+ MB

In [5]:
df1.describe()

,Unnamed: 0,Min,Gls,Ast,PK,PKatt,Sh,SoT,CrdY,CrdR,...,xP,FPL_xA,FPL_xGI,FPL_xG,FPL_xGC,Opp_rating,Team_rating,Min_points,Opp rating,Team rating
count,38663.000000,24570.000000,24573.000000,24573.000000,24573.000000,24573.000000,24573.000000,24573.000000,24573.000000,24573.000000,...,14128.000000,14128.000000,14128.000000,14128.000000,14128.000000,24047.000000,24542.000000,0.0,14090.000000,14090.000000
mean,9092.125779,54.403541,0.077850,0.054694,0.005819,0.007488,0.698287,0.233020,0.098808,0.002604,...,2.183126,0.030140,0.074943,0.050075,0.546999,1784.406199,1788.778345,NaN,1788.313465,1801.155442
std,7161.027541,38.821960,0.299769,0.243463,0.079209,0.089907,1.169487,0.565494,0.302339,0.050969,...,2.390554,0.088199,0.193966,0.159853,0.817357,108.176336,108.325591,NaN,111.202981,103.979910
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-3.000000,0.000000,0.000000,0.000000,0.000000,1588.183105,1588.285278,NaN,1606.522583,1660.637939
25%,3221.500000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.000000,1706.252930,1710.515381,NaN,1708.234497,1719.037964
50%,6443.000000,75.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.500000,0.000000,0.000000,0.000000,0.000000,1756.213135,1758.774292,NaN,1779.449829,1788.094360
75%,14906.500000,90.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,3.200000,0.011425,0.040000,0.000000,0.920000,1854.798462,1857.627441,NaN,1828.169067,1873.631104
max,24572.000000,90.000000,4.000000,3.000000,2.000000,2.000000,11.000000,5.000000,2.000000,1.000000,...,23.600000,1.285270,2.380000,2.370000,5.130000,2091.929932,2091.929932,NaN,2077.251953,2077.251953

In [6]:
df_final = pd.read_csv("data/final_dataset.csv")

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (53) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
df_final.columns

Index(['Unnamed: 0', 'Date', 'Day', 'Comp', 'Round', 'Venue', 'Squad',
       'Opponent', 'Start', 'Pos',
       ...
       'MinAvgOverall', 'GlsAvgOverall', 'AstAvgOverall', 'CrdYAvgOverall',
       'CrdRAvgOverall', 'xGAvgOverall', 'xAGAvgOverall', 'CSAvgOverall',
       'Team ScoreAvgOverall', 'Opp ScoreAvgOverall'],
      dtype='object', length=118)

In [ ]:
df_final[df_final["Name"] == "Mohamed-Salah"]