# Imports

In [1]:
import os
os.chdir("D:\PulpitE\FPL_ML")

In [2]:
import pandas as pd
import numpy as np
from vaastav.getters import *

In [3]:
NEXT_GW = 25

In [4]:
fixtures = get_fixtures_data()

In [5]:
len(fixtures)

380

In [6]:
fixtures[293]

{'code': 2293103,
 'event': 30,
 'finished': False,
 'finished_provisional': False,
 'id': 294,
 'kickoff_time': '2023-04-08T14:00:00Z',
 'minutes': 0,
 'provisional_start_time': False,
 'started': False,
 'team_a': 7,
 'team_a_score': None,
 'team_h': 11,
 'team_h_score': None,
 'stats': [],
 'team_h_difficulty': 2,
 'team_a_difficulty': 2,
 'pulse_id': 75204}

In [7]:
df_fixtures = pd.DataFrame(fixtures)

In [8]:
df_upcoming_fixtures = df_fixtures[df_fixtures["event"] >= NEXT_GW]

In [20]:
def team_id_to_name(team_id):
    teams = ['Arsenal',
     'Aston Villa',
     'Bournemouth',
     'Brentford',
     'Brighton',
     'Chelsea',
     'Crystal Palace',
     'Everton',
     'Fulham',
     'Leeds United',
     'Leicester City',
     'Liverpool',
     'Manchester City',
     'Manchester Utd',
     'Newcastle Utd',
     "Nott'ham Forest",
     'Southampton',
     'Tottenham',
     'West Ham',
     'Wolves']
    return teams[team_id - 1]

In [23]:
df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(team_id_to_name)
df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(team_id_to_name)

C:\Users\user\AppData\Local\Temp\ipykernel_19976\3776683092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad H"] = df_upcoming_fixtures["team_h"].apply(team_id_to_name)
C:\Users\user\AppData\Local\Temp\ipykernel_19976\3776683092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_upcoming_fixtures["Squad A"] = df_upcoming_fixtures["team_a"].apply(team_id_to_name)

In [36]:
df_upcoming_fixtures.rename(columns={"event": "gw"}, inplace=True)

C:\users\user\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [37]:
df_upcoming_fixtures

,code,gw,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id,Squad H,Squad A
238,2293053,25.0,False,False,244,2023-02-24T20:00:00Z,0,False,False,20,NaN,9,NaN,[],2,2,75154,Fulham,Wolves
239,2293052,25.0,False,False,243,2023-02-25T15:00:00Z,0,False,False,2,NaN,8,NaN,[],2,2,75153,Everton,Aston Villa
240,2293054,25.0,False,False,245,2023-02-25T15:00:00Z,0,False,False,17,NaN,11,NaN,[],2,2,75155,Leicester City,Southampton
241,2293055,25.0,False,False,246,2023-02-25T15:00:00Z,0,False,False,1,NaN,10,NaN,[],4,3,75156,Leeds United,Arsenal
242,2293059,25.0,False,False,250,2023-02-25T15:00:00Z,0,False,False,16,NaN,19,NaN,[],2,3,75160,West Ham,Nott'ham Forest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2293185,38.0,False,False,376,2023-05-28T15:00:00Z,0,False,False,3,NaN,8,NaN,[],2,2,75286,Everton,Bournemouth
376,2293186,38.0,False,False,377,2023-05-28T15:00:00Z,0,False,False,18,NaN,11,NaN,[],3,2,75287,Leicester City,Tottenham
377,2293187,38.0,False,False,378,2023-05-28T15:00:00Z,0,False,False,19,NaN,10,NaN,[],2,3,75288,Leeds United,West Ham
378,2293188,38.0,False,False,379,2023-05-28T15:00:00Z,0,False,False,9,NaN,14,NaN,[],2,4,75289,Manchester Utd,Fulham
379,2293189,38.0,False,False,380,2023-05-28T15:00:00Z,0,False,False,12,NaN,17,NaN,[],4,2,75290,Southampton,Liverpool

In [39]:
df_upcoming_fixtures = df_upcoming_fixtures[["gw", "kickoff_time", "Squad H", "Squad A"]]

In [40]:
df_upcoming_fixtures.head(15)

       gw          kickoff_time          Squad H          Squad A
238  25.0  2023-02-24T20:00:00Z           Fulham           Wolves
239  25.0  2023-02-25T15:00:00Z          Everton      Aston Villa
240  25.0  2023-02-25T15:00:00Z   Leicester City      Southampton
241  25.0  2023-02-25T15:00:00Z     Leeds United          Arsenal
242  25.0  2023-02-25T15:00:00Z         West Ham  Nott'ham Forest
243  25.0  2023-02-25T17:30:00Z      Bournemouth  Manchester City
244  25.0  2023-02-25T19:45:00Z   Crystal Palace        Liverpool
245  25.0  2023-02-26T13:30:00Z        Tottenham          Chelsea
246  25.0  2023-03-01T19:45:00Z          Arsenal          Everton
247  25.0  2023-03-01T20:00:00Z        Liverpool           Wolves
248  26.0  2023-03-04T12:30:00Z  Manchester City    Newcastle Utd
249  26.0  2023-03-04T15:00:00Z          Arsenal      Bournemouth
250  26.0  2023-03-04T15:00:00Z      Aston Villa   Crystal Palace
251  26.0  2023-03-04T15:00:00Z         Brighton         West Ham
252  26.0  2023-03-04T15:00:00Z          Chelsea   Leicester City